.featured {
  min-height: 120vh;
  margin-bottom: 5em;

  &__heading {
    font-weight: 300;
  }

  &__gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 25px;

    &__link {
      display: block;
      width: 49.5%;
    }

    &__image {
      width: 49.25%;
      height: 110vh;
      background-size: cover;
      background-position: center;
      position: relative;

      &__desc {
        position: absolute;
        bottom: 15%;
        left: 7%;

        font-size: 20px;
        font-weight: 300;
        color: #fff;
        width: 75%;
      }

      &__button {
        transform: translate(0, 0);

        position: absolute;
        top: 86%;
        left: 7%;
      }
    }
  }
}
