.search {
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  position: absolute;
  z-index: 200;
  transition: all 0.3s;

  top: 0;
  right: 0%;

  margin: 0px 5px 0 0;
  padding: 14px 0;

  &__input {
    background-color: #f1f1f1;
    padding: 10px 30px 10px 15px;
    border: none;
    border-radius: 100px;
    outline: none;
    width: 60%;
    margin-right: -30px;
    transition: all 0.2s;

    &::placeholder {
      color: #a3a3a3;
      font-size: 15px;
    }

    &:focus {
      background-color: #eeeeee;
      width: 100%;
      // transform: trax;

      &::placeholder {
        color: #5c5c5c;
      }
    }

    &:focus ~ .search__button {
      background-color: #eeeeee;
    }
  }

  &__button {
    border: none;
    // background-color: #f1f1f1;
    transition: all 0.2s;

    &:active {
      transform: translateY(3px);
    }
  }

  &__icon {
    width: 15px;
    height: 15px;
  }

  &__menu__bg {
    position: fixed;
    min-height: 0vh;
    width: 100%;
    top: 63px;
    z-index: 125;
    background-color: white;

    transition: all 0.2s;
  }

  &__results {
    position: absolute;
    top: 80px;
    left: 380px;

    opacity: 0;
    z-index: -3;

    transition: all 0.2s;

    &__heading {
      font-size: 16px;
      font-weight: 300;
      color: #757575;

      margin-bottom: 25px;
    }

    &__list {
      list-style: none;

      &__item {
        margin-bottom: 10px;

        &__link {
          text-decoration: none;
          color: #000;
          font-size: 20px;
        }
      }
    }
  }
}

@media (max-width: 1156px) {
  .search {
    display: none;
  }
}
